<?xml version="1.0"?>
<services>
 <service name="Dentsply_SAP_Transactions_Service.SapService">
  <endpoint  name="SAPTCP" address="net.tcp://localhost:18000/SensorDataAccessSAPEndpoint"
   binding="netTcpBinding" 
   contract="Dentsply_SAP_Transactions_Service.ISapService" />
 </service>
</services>


