<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SAP_Client" value="700" />
    <add key="SAP_User" value="mragbir" />
    <add key="SAP_Password" value="Mitchxps170!!" />
    <add key="SAP_Language" value="EN" />
  </appSettings>
</configuration>