<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\SensorDataAccess.Windows.SAPService.exe.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="3" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%thread] %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <appSettings file="Configuration">
    <!-- RunAsService = true, the Application expects to be started as a service -->
    <!--                     = false, the Application runs as a WinForms app            -->
    <add key="RunAsService" value="false" />
    <add key="XMLsPath" value="C:\Program Files (x86)\Sirona Dental, Inc\SensorDataAccess.Windows.DataAccessService" />
  </appSettings>
  <connectionStrings>
    <!--ORIGINAL PRODUCTION-->
    <!--<add name="SchickAccessConnectionString" connectionString="Data Source=SCHICKSQL2008;Initial Catalog=SchickAccess;Persist Security Info=True;User ID=sa2;Password=Schick123" providerName="System.Data.SqlClient"/>
    <add name="SchickSensorParametricConnectionString" connectionString="Data Source=SCHICKSQL2008;Initial Catalog=SchickSensorParametric;Persist Security Info=True;User ID=sa2;Password=Schick123" providerName="System.Data.SqlClient"/>-->
    <!--SAND BOX-->
    <add name="SchickAccessConnectionString" connectionString="Data Source=rvegaw7;Initial Catalog=SchickAccess;Persist Security Info=True;User ID=sa;Password=schicktech" providerName="System.Data.SqlClient" />
		<add name="SchickSensorParametricConnectionString" connectionString="Data Source=rvegaw7;Initial Catalog=SchickSensorParametric;Persist Security Info=True;User ID=sa;Password=schicktech" providerName="System.Data.SqlClient" />
    <!--REPLICATION SERVER-->
    <!--<add name="SchickAccessConnectionString" connectionString="Data Source=rvegawebserver;Initial Catalog=SchickAccess;Persist Security Info=True;User ID=sa;Password=schicktech" providerName="System.Data.SqlClient"/>
    <add name="SchickSensorParametricConnectionString" connectionString="Data Source=rvegawebserver;Initial Catalog=SchickSensorParametric;Persist Security Info=True;User ID=sa;Password=schicktech" providerName="System.Data.SqlClient" />-->
    <!--NEW SCHICKWEB2012-->
    <!--<add name="SchickAccessConnectionString" connectionString="Data Source=SCHICKWEB2012.schicknt.com;Initial Catalog=SchickAccess;Persist Security Info=True;User ID=sa;Password=schicktech" providerName="System.Data.SqlClient" />
    <add name="SchickSensorParametricConnectionString" connectionString="Data Source=SCHICKWEB2012.schicknt.com;Initial Catalog=SchickSensorParametric;Persist Security Info=True;User ID=sa;Password=schicktech" providerName="System.Data.SqlClient" />-->
    <!--NEW SIRONANYCWEB3-->
    <!--<add name="SchickAccessConnectionString" connectionString="Data Source=SIRONANYCWEB3;Initial Catalog=SchickAccess;Persist Security Info=True;User ID=sa;Password=schicktech" providerName="System.Data.SqlClient" />
		<add name="SchickSensorParametricConnectionString" connectionString="Data Source=SIRONANYCWEB3;Initial Catalog=SchickSensorParametric;Persist Security Info=True;User ID=sa;Password=schicktech" providerName="System.Data.SqlClient" />-->
    <!--Production Utilities Server-->
    <add name="ProductionUtilitiesDB" connectionString="Data Source=ATPROOMW10-1;Initial Catalog=Production_Utilities;Persist Security Info=True;User ID=sa;Password=schicktech" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.serviceModel>
    <services configSource="Configuration\system.serviceModel.services.config" />
    <bindings configSource="Configuration\system.serviceModel.bindings.config" />
    <behaviors configSource="Configuration\system.serviceModel.behaviors.config" />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.9.0" newVersion="2.0.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
