<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="timerInterval" value="20" />
    <add key="bIsTest" value="false" />
    <add key="SensorPartNumbers" value="B1218200,B1318200,B1118200,100006036,100006040,100006074,100008168,100008179,100008186,B1215200,B1115200,B1315200,B1214200,B1114200,B1314200,B1207200,B1107200,B1307200"/>
  </appSettings>
  <connectionStrings>
    <!--ORIGINAL PRODUCTION-->
    <!--<add name="SchickAccessConnectionString" connectionString="Data Source=SCHICKSQL2008;Initial Catalog=SchickAccess;Persist Security Info=True;User ID=sa2;Password=Schick123" providerName="System.Data.SqlClient"/>
    <add name="SchickSensorParametricConnectionString" connectionString="Data Source=SCHICKSQL2008;Initial Catalog=SchickSensorParametric;Persist Security Info=True;User ID=sa2;Password=Schick123" providerName="System.Data.SqlClient"/>-->
    <!--SAND BOX-->
    <add name="SchickAccessConnectionString" connectionString="Data Source=rvegaw7;Initial Catalog=SchickAccess;Persist Security Info=True;User ID=sa;Password=schicktech" providerName="System.Data.SqlClient" />
    <add name="SchickSensorParametricConnectionString" connectionString="Data Source=rvegaw7;Initial Catalog=SchickSensorParametric;Persist Security Info=True;User ID=sa;Password=schicktech" providerName="System.Data.SqlClient" />
    <!--REPLICATION SERVER-->
    <!--<add name="SchickAccessConnectionString" connectionString="Data Source=rvegawebserver;Initial Catalog=SchickAccess;Persist Security Info=True;User ID=sa;Password=schicktech" providerName="System.Data.SqlClient"/>
    <add name="SchickSensorParametricConnectionString" connectionString="Data Source=rvegawebserver;Initial Catalog=SchickSensorParametric;Persist Security Info=True;User ID=sa;Password=schicktech" providerName="System.Data.SqlClient" />-->
    <!--NEW SCHICKWEB2012-->
    <!--<add name="SchickAccessConnectionString" connectionString="Data Source=SCHICKWEB2012.schicknt.com;Initial Catalog=SchickAccess;Persist Security Info=True;User ID=sa;Password=schicktech" providerName="System.Data.SqlClient" />
    <add name="SchickSensorParametricConnectionString" connectionString="Data Source=SCHICKWEB2012.schicknt.com;Initial Catalog=SchickSensorParametric;Persist Security Info=True;User ID=sa;Password=schicktech" providerName="System.Data.SqlClient" />-->
    <!--NEW SIRONANYCWEB3-->
    <!--<add name="SchickAccessConnectionString" connectionString="Data Source=SIRONANYCWEB3;Initial Catalog=SchickAccess;Persist Security Info=True;User ID=sa;Password=schicktech" providerName="System.Data.SqlClient" />
		<add name="SchickSensorParametricConnectionString" connectionString="Data Source=SIRONANYCWEB3;Initial Catalog=SchickSensorParametric;Persist Security Info=True;User ID=sa;Password=schicktech" providerName="System.Data.SqlClient" />-->
    <!--Production Utilities Server-->
    <add name="ProductionUtilitiesDB" connectionString="Data Source=ATPROOMW10-1;Initial Catalog=Production_Utilities;Persist Security Info=True;User ID=sa;Password=schicktech" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
