<?xml version="1.0" encoding="utf-8" ?>
<client>
	<!--cleanrmxp5.schicknt.com-->
	<!--rvegaw7.schicknt.com-->
	<!--schickweb.schicknt.com-->
	<!--rvegawebserver.schicknt.com-->
	<!--calibration1.schicknt.com-->
	<endpoint
	  name="HTTP"
	  address="http://localhost/SensorDataAccess.WebService/SensorDataAccessService.svc"
	  behaviorConfiguration="ImpersonateEndpointBehavior"
	  binding="basicHttpBinding"
	  bindingConfiguration="BasicHttpBinding_DataService"
	  contract="SensorDataAccess.Contract.ISensorDataAccessService" />

	<endpoint
	name="HTTP_PRINT"
	address="http://localhost/SensorDataAccess.WebService/SensorDataPrintingService.svc"
	behaviorConfiguration="ImpersonateEndpointBehavior"
	binding="basicHttpBinding"
	bindingConfiguration="BasicHttpBinding_DataService"
	contract="SensorDataAccess.Contract.ISensorDataPrintingService" />

	<endpoint
	  name="TCP"
	  address="net.tcp://sironanycwip.schicknt.com:9002/SensorDataAccessEndpoint"
	  binding="netTcpBinding"
	  bindingConfiguration="netTcpBinding_DataService"
	  contract="SensorDataAccess.Contract.ISensorDataAccessService" >
		<identity>
			<userPrincipalName value="localhost" />
		</identity>
	</endpoint>

	<endpoint
	name="TCP_PRINT"
	address="net.tcp://localhost:9022/SensorDataPrintingEndpoint"
	binding="netTcpBinding"
	bindingConfiguration="netTcpBinding_DataService"
	contract="SensorDataAccess.Contract.ISensorDataPrintingService">
		<identity>
			<userPrincipalName value="localhost" />
		</identity>
	</endpoint>

	<endpoint
  name="127.0.0.1"
  address="net.tcp://localhost:9042/SensorDataUDPCommEndpoint"
  binding="netTcpBinding"
  contract="SensorDataAccess.Contract.ISensorDataUDPCommService">
		<identity>
			<userPrincipalName value="localhost" />
		</identity>
	</endpoint>

	<endpoint
  name="TCP_UDP_SENSOR_FLASH"
  address="net.tcp://localhost:9042/SensorDataUDPCommEndpoint"
  binding="netTcpBinding"
  contract="SensorDataAccess.Contract.ISensorDataUDPCommService">
		<identity>
			<userPrincipalName value="localhost" />
		</identity>
	</endpoint>

	<endpoint
	name="TCP_ACTION"
	address="net.tcp://localhost:9052/SensorDataActionEndpoint"
	binding="netTcpBinding"
	contract="SensorDataAccess.Contract.ISensorDataActionService">
		<identity>
			<userPrincipalName value="localhost" />
		</identity>
	</endpoint>

	<endpoint
	name="TCP_PLC"
	address="net.tcp://localhost:9082/SensorDataDevices_PLCEndpoint"
	binding="netTcpBinding"
	behaviorConfiguration="ImpersonateEndpointBehavior"
	contract="SensorDataAccess.Contract.ISensorDataDevicesPLCService">
		<identity>
			<userPrincipalName value="localhost" />
		</identity>
	</endpoint>

	<endpoint
	name="TCP_SYN"
	address="net.tcp://localhost:9092/SensorDataDevices_SynergySensorEndpoint"
	binding="netTcpBinding"
	contract="SensorDataAccess.Contract.ISensorDataDevices_SynergySensorService" >
		<identity>
			<userPrincipalName value="localhost" />
		</identity>
	</endpoint>

	<endpoint address="net.tcp://localhost:9110/SensorBransonWelderEndpoint"
	  behaviorConfiguration="ImpersonateEndpointBehavior" binding="netTcpBinding"
	  bindingConfiguration="netTcpBinding" contract="SensorDataAccess.Contract.ISensorDataBransonWelderService"
	  name="TCP_BRANSON_WELDER">
		<identity>
			<userPrincipalName value="localhost" />
		</identity>
	</endpoint>

	<endpoint
		name="TCP_SIRAPI"
		address="net.tcp://rvegaw7-2.schicknt.com:19200/SensorDataDevices_SIRAPIEndpoint"
		binding="netTcpBinding"
		contract="SensorDataAccess.Contract.ISensorDataDevices_SIRAPIService" >
	</endpoint>
  <endpoint
	  name="SAPTCP"
	  address="net.tcp://10.1.19.49:18000/SensorDataAccessSAPEndpoint"
	  binding="netTcpBinding"
	  bindingConfiguration="netTcpBinding_DataService"
    behaviorConfiguration="ImpersonateEndpointBehavior"
	  contract="Dentsply_SAP_Transactions_Service.ISapService" >
    <!--<identity>
      <userPrincipalName value="localhost|mragbir" />
    </identity>-->
  </endpoint>
</client>